# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.RoverList.iml
# Datasource local storage ignored files
/../../../../../../../:\Development\[ADS]\RoverList\.idea\.idea.RoverList\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
